<!DOCTYPE html>
<html>
    <head>
        <title><?= $title ?></title>
    </head>
    <body>
        <div Class="Menu">
            <ul>
                <li><a href="../../Admin/Dashboard/index">Dashboard</a></li>
                <li><a href="../../Admin/Project/index">Project</a></li>
                <li><a href="../../Admin/Logout/index">Logout</a></li>
            </ul>
        </div>
        <h1> BACKEND :: TEMPLATE :: HEADER </h1>



    