<h1>Login</h1>

<form action="  run" method="post">
    
    <label>Login</label><input type="text" name="login" /><br />
    <label>Password</label><input type="password" name="psw" /><br />
    <label>Password confirm</label><input type="password" name="pswConfirm" /><br />
    <label></label><input type="submit" />
</form>